a{
    text-decoration: none;
}

.banner-container{
    color: white;
    margin-top:16vh;
    background-image: url(/assets/images/banner-home1920.webp);
    background-size: cover;
    height: 100vh;
}

.banner-text {
    font-size:3em;
    text-align: center;
    padding: 5em; 
  }

.banner-text-xs {
    font-size:3em;
    text-align: center;
    padding-top: 2em; 
}

.service-container{
    padding: 20vh 5vh 20vh 5vh;
}

.container{
    padding: 10vh;
}

.reviews{
    background-color: #EEEEEE
}

.review-item{
    max-width: 200px;
}

.avatar-img{
    background-image: url('/assets/images/review-idosa400x260.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}

