<div fxLayout="column">
    <section>
        <a target="_blank" href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E">
            <div class="banner-container" fxHide.xs>
                <div class="banner-text" fxLayoutAlign="center center">
                    <p>
                        <strong>Agende já</strong> uma consulta ou exame na
                        <strong>MedCenter,</strong> por um preço que você
                        <strong>pode pagar.</strong>
                    </p>
                </div>
            </div>
            <div class="banner-container" fxHide.gt-xs>
                <div class="banner-text-xs" fxLayoutAlign="center center">
                    <p>
                        Agende já sua consulta ou exame na MedCenter.
                    </p>
                </div>
            </div>
        </a>
    </section>
    <section 
        fxLayout="row" 
        fxLayout.xs="column" 
        fxLayoutGap="50px" 
        class="service-container">

        <div fxLayout="row" fxLayoutGap="15px" fxFlex="33">
            <i fxLayoutAlign="center center" class="fas fa-7x fa-comment-dollar primary-color"></i>
            <div>
                <h1>Cabe no seu bolso</h1>
                <small>É por pensar em todos os nossos pacientes que oferecemos medicina de qualidade
                    por um valor que você pode pagar.</small>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxFlex="33">
            <i fxLayoutAlign="center center" class="fas fa-7x fa-calendar-plus primary-color"></i>
            <div>
                <h1>Agende em 1 minuto</h1>
                <small>Para sua praticidade agendamos sua consulta on-line ou pelo telefone se preferir.</small>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxFlex="33">
            <i fxLayoutAlign="center center" class="fas fa-7x fa-user-md primary-color"></i>
            <div>
                <h1>Atendimento excelente</h1>
                <small>Nossa equipe de profissionais qualificados está sempre comprometida a realizar o melhor serviço.</small>
            </div>
        </div>
    </section>
    <section fxLayout="row" fxLayout.xs="column">
        <img fxFlex="60" src="assets/images/medcenter-clinica800x534.png"/>
        <div fxFlex="40" 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        class="secondary-bg text-white container">
            <h1>Porque a MedCenter é a clinica certa para você?</h1>
            <p>
                MedCenter guaianases atua com excelência há mais de X anos, fornecendo uma variedade
                enorme de exames e especialidades para melhor atender nossos pacientes, estamos aqui
                para cuidar da sua saúde e da sua qualidade de vida de uma forma totalmente acessível.    
            </p>
        </div>    
    </section>
    <section 
    fxLayout="column" 
    fxLayoutAlign="center center"  
    class="reviews primary-color container">
        <h1>Pacientes comentam</h1>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
            <mat-card class="review-item">
                <mat-card-header  fxLayout="column" fxLayoutGap="15px">
                    <div mat-card-avatar class="avatar-img"></div>
                    <div>
                        <mat-card-title class="primary-color">Ana Maria</mat-card-title>
                        <mat-card-subtitle>64 anos, Aposentada</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <i>"Eles são muito atenciosos e o atendimento é de primeira qualidade."</i>
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="review-item">
                <mat-card-header  fxLayout="column" fxLayoutGap="15px">
                    <div mat-card-avatar class="avatar-img"></div>
                    <div>
                        <mat-card-title class="primary-color">Marta</mat-card-title>
                        <mat-card-subtitle>50 anos, Empresária</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <i>"Fui muito bem atendida os médicos são sensacionais"</i>
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="review-item">
                <mat-card-header  fxLayout="column" fxLayoutGap="15px">
                    <div mat-card-avatar class="avatar-img"></div>
                    <div>
                        <mat-card-title class="primary-color">Rosangela</mat-card-title>
                        <mat-card-subtitle>32 anos, Dona de casa</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <i>"São muito pacientes e atenciosos, e o preço muito acessivel"</i>
                    </p>
                </mat-card-content>
            </mat-card>
            <mat-card class="review-item">
                <mat-card-header  fxLayout="column" fxLayoutGap="15px">
                    <div mat-card-avatar class="avatar-img"></div>
                    <div>
                        <mat-card-title class="primary-color">Andreza</mat-card-title>
                        <mat-card-subtitle>45 anos, Doméstica</mat-card-subtitle>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        <i>"Voltarei sempre que precisar, são muito eficientes e prestativos"</i>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>    
    </section>
</div>