a{
    text-decoration: none;
}

.banner-container{
    color: white;
    background-image: url(/assets/images/banner-home1920.webp);
    background-size: cover;
    height: 100vh;
}

.banner-text {
    font-size:3em;
    text-align: center;
    padding: 5em; 
  }

.banner-text-xs {
    font-size:3em;
    text-align: center;
    padding-top: 2em; 
}

.service-container{
    padding: 20vh 5vh 20vh 5vh;
}

.container{
    padding: 10vh;
}

.reviews{
    background-color: #EEEEEE
}

.review-item{
    max-width: 200px;
}

.avatar-img{
    background-image: url('/assets/images/review-idosa400x260.png');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.call-square{
    width: 35%;
    height: 40%;
    background-color: teal;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.25);
    box-shadow: 10px 10px 20px rgba(0,0,0,.25);
}

.call-text{
    font-size: 1.5em; 
    padding: 10px; 
    text-align: center;
}

@media screen and (max-width: 600px) {
    .call-square{
        width: 50%;
        height: 30%;
        background-color: teal;
        border-radius: 4px;
        -webkit-box-shadow: 10px 10px 20px rgba(0,0,0,.25);
        box-shadow: 10px 10px 20px rgba(0,0,0,.25);
    }
    
    .call-text{
        font-size: 0.9em;
        padding: 10px; 
        text-align: center;
    }    
}

