<section fxLayout="column" class="third-bg">
    <div fxLayout="column" fxLayoutGap="50px" class="full-width box-container primary-bg">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <h1 class="third-color title">Especialidades</h1>
            <i class="fas fa-3x fa-user-md third-color title-icon"></i>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Qual especialidade está procurando?</mat-label>
                <input matInput>
                <mat-icon style="font-size: 2em;" matSuffix>search</mat-icon>
            </mat-form-field>
            <p class="third-color" fxLayoutAlign="center center">
                Caso prefira, telefone já: (11) 99999-9999
                <p>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="15px" class="box-container">
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>ACUPUNTURA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>ALERGIA E IMUNOLOGIA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>PEDIATRA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>CARDIOLOGIA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>CIGURGIAO</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>ORTOPEDISTA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>VASCULAR</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>ENDOCRINOLOGIA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>OBSTETRA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mat-card-elevation">
            <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                <span fxLayoutAlign="center center" class="text-muted">
                    <strong>FONOAUDIOLOGIA</strong>
                </span>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                    fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                    <span class="price">
                        R$ 90,00
                    </span>
                    <button mat-raised-button color="accent">
                        Agende já
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</section>