<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" class="box-container light-bg">
    <div fxLayout="column" fxFlex="60" fxLayoutGap="30px">
        <div>
            <h2>Contato</h2>
            <mat-divider></mat-divider>
        </div>
        <p class="text-muted">Possui alguma dúvida, sugestão ou crítica por favor nos deixe uma mensagem.</p>
        <form fxLayout="column" fxLayoutGap="15px">
            <mat-form-field appearance="outline">
                <mat-label>Qual seu nome?</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Qual seu melhor e-mail de contato?</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Qual seu telefone celular?</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Deixe sua mensagem</mat-label>
                <textarea matInput rows="5"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary">Enviar Mensagem</button>
        </form>
    </div>
    <div fxLayoutAlign="center center" fxFlex="40">
        <div style="height: 50%" fxLayout="column" class="box-container">
            <div fxLayout="row" fxLayoutAlign="center center">
                <h2 class="primary-color">Queremos te ouvir</h2>
                <i style="margin-top:-50px " class="far fa-3x fa-comment-alt primary-color"></i>
            </div>
            <p style="text-align: center; margin:0" class="text-muted">Funcionamos de segunda a sexta:
                <strong>08 às 19h</strong> e aos sábados: <strong>08 às 14h, </strong>
                atendemos pelo telefone: <strong>(11) 9999-9999, </strong>
                ou mande um e-mail para: <strong>contato@medcenter.com.br</strong>
            </p>
        </div>
    </div>
</div>