<section fxLayout="column" class="third-bg">
        <div fxLayout="column" fxLayoutGap="50px" class="full-width box-container primary-bg">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
                <h1 class="third-color title">Exames</h1>
                <i class="fas fa-3x fa-diagnoses third-color title-icon"></i>
            </div>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Qual exame está procurando?</mat-label>
                    <input matInput>
                    <mat-icon style="font-size: 2em;" matSuffix>search</mat-icon>
                </mat-form-field>
                <p class="third-color" fxLayoutAlign="center center">
                    Caso prefira, telefone já: (11) 99999-9999
                    <p>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="15px" class="box-container">
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>HEMOGRAMA</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 10,00
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>COLESTEROL</strong>
                    </span>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>CHECK-UP</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 50,00
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>CARDIOVASCULAR</strong>
                    </span>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>UREIA</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 550,00
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>TRIGLICÉRIDES</strong>
                    </span>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>VASCULAR</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 90,00
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>HORMONAL</strong>
                    </span>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>URINA</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 70,00
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mat-card-elevation">
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="15px">
                    <span fxLayoutAlign="center center" class="text-muted">
                        <strong>PROSTATA</strong>
                    </span>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px" fxLayoutGap.xs="15px"
                        fxLayoutAlign="end end" fxLayoutAlign.xs="center center" class="price full-width">
                        <span class="price">
                            R$ 250,80
                        </span>
                        <a
                        target="_blank" 
                        href="https://clinicatotal.com.br/v2/online/?codigo_site=68QCNZ8T9E" 
                        mat-raised-button color="accent">
                            Agende já
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </section>