<div fxLayout="column">
    <section>
        <div class="banner-container box-container third-color" fxLayout="column" fxLayoutAlign="center end" fxHide.xs>
            <div style="width: 50%">
                <h1 fxLayoutAlign="center center" style="font-size: 3em">
                    Slogan da medcenter
                </h1>
                <p style="text-align: center; font-size: 1.5em">
                    MedCenter guaianases atua com excelência há mais de X anos, fornecendo uma variedade
                    enorme de exames e especialidades para melhor atender nossos pacientes, estamos aqui
                    para cuidar da sua saúde e da sua qualidade de vida de uma forma totalmente acessível.
                </p>
            </div>
        </div>
        <div class="banner-container box-container third-color" fxLayout="column" fxLayoutAlign="center center"
            fxHide.gt-xs>
            <h1 fxLayoutAlign="center center">
                SLOGAN MEDCENTER
            </h1>
            <p style="text-align: center;">
                MedCenter guaianases atua com excelência há mais de X anos, fornecendo uma variedade
                enorme de exames e especialidades para melhor atender nossos pacientes, estamos aqui
                para cuidar da sua saúde e da sua qualidade de vida de uma forma totalmente acessível.
            </p>
        </div>
    </section>
    <section fxLayout="row" fxLayout.xs="column">
        <div fxFlex="65" class="box-container">
            <img class="img-box" src="/assets/images/banner-home-xl.webp" />
        </div>
        <div fxLayout="column" fxLayoutGap="15px" fxFlex="35" class="box-container">
            <h2>Nosso propósito missão e valores</h2>
            <p>
                Nossa visão é xyz, e temos o propósito tal tal e tal, com a missão de realizar tal tal.
                Nossa visão é xyz, e temos o propósito tal tal e tal, com a missão de realizar tal tal.
                Nossa visão é xyz, e temos o propósito tal tal e tal, com a missão de realizar tal tal.
                Nossa visão é xyz, e temos o propósito tal tal e tal, com a missão de realizar tal tal.
            </p>
        </div>
    </section>
    <section class="box-container">
        <h1 class="full-width">Nossa equipe</h1>
        <mat-divider></mat-divider>
        <div class="box-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px">
            <mat-card class="doctor-item">
                <img mat-card-image src="/assets/images/medcenter-clinica800x534.png" alt="Photo of a Shiba Inu">
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <h3>Dr. Fulano de tal</h3>
                    <small>Cargo do doutor</small>
                    <p>
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutGap="15px" fxLayoutAlign="center center">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                </mat-card-actions>
            </mat-card>
            <mat-card class="doctor-item">
                <img mat-card-image src="/assets/images/medcenter-clinica800x534.png" alt="Photo of a Shiba Inu">
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <h3>Dr. Fulano de tal</h3>
                    <small>Cargo do doutor</small>
                    <p>
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutGap="15px" fxLayoutAlign="center center">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                </mat-card-actions>
            </mat-card>
            <mat-card class="doctor-item">
                <img mat-card-image src="/assets/images/medcenter-clinica800x534.png" alt="Photo of a Shiba Inu">
                <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                    <h3>Dr. Fulano de tal</h3>
                    <small>Cargo do doutor</small>
                    <p>
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                        Aqui é o conteúdo sobre o seu funcionário, descrição prévia
                    </p>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions fxLayoutGap="15px" fxLayoutAlign="center center">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook"></i>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
    <section 
    fxLayout="row" 
    fxHide.xs="column" 
    fxLayoutGap="15px" 
    class="box-container">
        <iframe 
            fxFlex="60"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8805726894993!2d-46.43625968554467!3d-23.500810765242893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce63e6d1a26953%3A0x78d7ddb028c6fb96!2sR.%20Ernesto%20Evans%2C%20578%20-%20Vila%20Rosaria%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2008021-170!5e0!3m2!1spt-BR!2sbr!4v1568259361125!5m2!1spt-BR!2sbr" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="">
        </iframe>
        <div 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxFlex="40" 
        class="social-media box-container">
            <div fxLayout="row" fxLayoutAlign="center center">
                <i style="margin-top:-10px; padding-right: 15px" class="fas fa-2x fa-map-marker-alt"></i>
                <h3>Rua da clinica em guaianases, 999 | 00000-000</h3>
            </div>
            <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
                <h3>Sigam-nos nas redes sociais</h3>
                <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="30px">
                    <i class="fab fa-2x fa-instagram third-color"></i>
                    <i class="fab fa-2x fa-facebook third-color"></i>
                    <i class="fab fa-2x fa-youtube third-color"></i>    
                </div>      
            </div>
            <h3 style="padding-top: 100px"><i>"Alguma frase que resume a cliníca"</i></h3>
        </div>
    </section>
    <section fxLayout="column" fxHide.gt-xs>
        <iframe 
            fxFlex="60"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.8805726894993!2d-46.43625968554467!3d-23.500810765242893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce63e6d1a26953%3A0x78d7ddb028c6fb96!2sR.%20Ernesto%20Evans%2C%20578%20-%20Vila%20Rosaria%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2008021-170!5e0!3m2!1spt-BR!2sbr!4v1568259361125!5m2!1spt-BR!2sbr" 
            frameborder="0" 
            style="border:0;" 
            allowfullscreen="">
        </iframe>
        <div 
        fxLayout="column" 
        fxLayoutAlign="center center" 
        fxFlex="40" 
        class="social-media box-container">
            <div fxLayout="row" fxLayoutAlign="center center">
                <i style="margin-top:-10px; padding-right: 15px" class="fas fa-2x fa-map-marker-alt"></i>
                <h3>Rua da clinica em guaianases, 999 | 00000-000</h3>
            </div>
            <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="15px">
                <h3>Sigam-nos nas redes sociais</h3>
                <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="30px">
                    <i class="fab fa-2x fa-instagram third-color"></i>
                    <i class="fab fa-2x fa-facebook third-color"></i>
                    <i class="fab fa-2x fa-youtube third-color"></i>    
                </div>      
            </div>
            <h3><i>"Alguma frase que resume a cliníca"</i></h3>
        </div>
    </section>
</div>