.footer-logo{
    width: 152px;
}

.span-icon{
    margin-top:20px;
}

.footer-text{
    color: #9E9E9E;
    font-size: 0.9em;
}

.footer-copy{
    color: #9E9E9E;
    font-size: 0.8em;
}
