<mat-toolbar fxLayout class="navigation-container">
    <div fxFlex="30" class ="full-width" fxLayout>
        <img alt="medcenter-logo" src="assets/icons/medcenter-icon128x64.png" />
    </div>
    <div fxFlex="40" fxLayout fxLayoutAlign="center center" class="full-width">
        <h1 class="primary-color">Painel de Administração</h1>
    </div>
    <div fxFlex="30" fxLayout fxLayoutAlign="end">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="primary-color navigation-icon">menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
