.navigation-container{
    -webkit-box-shadow: 0 1px 1px #888888;
    -moz-box-shadow: 0 1px 1px #888888;
    box-shadow: 0 1px 1px #888888; 
    position: fixed; 
    z-index:2;
    background-color: white;
    padding: 50px; 
}

a{
    color: #0BA85B;
    font-weight: bold;
    font-size:1.3vw;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: #0BA85B;
    font-weight: bold;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation-icon{
    transform: scale(1.7);
}