<mat-toolbar class="navigation-container">
    <div fxLayout fxLayoutAlign="start" fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon class="primary-color navigation-icon">menu</mat-icon>
        </button>
    </div>
    <div class ="full-width" fxLayout fxLayoutAlign.xs="center" fxHide.gt-xs>
        <img alt="medcenter-logo" src="assets/icons/medcenter-icon128x64.png" />
    </div>
    <div fxHide.xs>
        <img class="full-width" alt="medcenter-logo" src="assets/icons/medcenter-icon128x64.png" />
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a mat-button routerLink="">Home</a>
            </li>
            <li>
                <a mat-button target="_blank" href="https://portal.softeasy.com.br/aqualli">Consulte seu exame</a>
            </li>
            <li>
                <a mat-button [routerLink]="'/especialidades'">Especialidades</a>
            </li>
            <li>
                <a mat-button [routerLink]="'/exames'">Exames</a>
            </li>
            <li>
                <a mat-button [routerLink]="'/odontologia'">Odontologia</a>
            </li>
            <li>
                <a mat-button [routerLink]="'/medcenter'">Med Center</a>
            </li>
            <li>
                <a mat-button [routerLink]="'/contato'">Contato</a>
            </li>
        </ul>
    </div>
</mat-toolbar>