<mat-sidenav-container *ngIf="!isAdminComponent">
    <mat-sidenav #sidenav role="navigation">
        <md-sidenav-items (sidenavClose)="sidenav.close()"></md-sidenav-items>
    </mat-sidenav>
    <mat-sidenav-content>
        <md-header (sidenavToggle)="sidenav.toggle()"></md-header>
        <main>
            <router-outlet></router-outlet>
        </main>
        <md-footer></md-footer>
        <md-zap-button></md-zap-button>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-sidenav-container *ngIf="isAdminComponent">
    <mat-sidenav #sidenav role="navigation">
        <md-sidenav-items-admin (sidenavClose)="sidenav.close()"></md-sidenav-items-admin>
    </mat-sidenav>
    <mat-sidenav-content>
        <md-header-admin (sidenavToggle)="sidenav.toggle()" *ngIf="isLogged"></md-header-admin>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
