<div class="primary-bg full-height">
  <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <span class="navigation-item">Home</span>
      </a>
      <a mat-list-item target="_blank" href="https://portal.softeasy.com.br/aqualli">
        <span class="navigation-item">Consulte seu exame</span>
      </a>
      <a mat-list-item routerLink="/especialidades" (click)="onSidenavClose()">
        <span class="navigation-item">Especialidades</span>   
      </a>
      <a mat-list-item routerLink="/exames" (click)="onSidenavClose()">
        <span class="navigation-item">Exames</span>
      </a>
      <a mat-list-item routerLink="/odontologia" (click)="onSidenavClose()">
        <span class="navigation-item">Odontologia</span>
      </a>
      <a mat-list-item routerLink="/medcenter" (click)="onSidenavClose()">
        <span class="navigation-item">Med Center</span>
      </a>
      <a mat-list-item routerLink="/contato" (click)="onSidenavClose()">
        <span class="navigation-item">Contato</span>
      </a>
    </mat-nav-list>
</div>
