mat-form-field {
    width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: #fff;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.25);
    box-shadow: 0 10px 20px rgba(0,0,0,.25);
    border-radius: 4px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color:#F44336; 
}

mat-form-field.mat-form-field {
    color: #9E9E9E;
}

.title{
    font-size: 3em;
}

.title-icon{
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 2.1em;
    }

    .title-icon{
        padding-bottom: 20px;
    }
}

.mat-card-elevation:hover {
    -webkit-box-shadow: 8px 8px 8px rgba(0,0,0,.25);
    box-shadow: 8px 8px 8px rgba(0,0,0,.25);
}

.price{
    color: #0BA85B;
    font-size: 1.3em;
    font-weight: 600;
}