<div class="primary-bg full-height">
    <mat-nav-list>
        <a mat-list-item (click)="onSidenavClose()">
          <span class="navigation-item">Configurações gerais</span>
        </a>
        <a mat-list-item  (click)="onSidenavClose()">
          <span class="navigation-item">Cadastro de especialidades</span>   
        </a>
        <a mat-list-item  (click)="onSidenavClose()">
            <span class="navigation-item">Cadastro de exames</span>   
        </a>
      </mat-nav-list>
  </div>