<div class="primary-bg full-height">
    <mat-nav-list>
        <a routerLink="/admin/settings" mat-list-item (click)="onSidenavClose()">
          <span class="navigation-item">Configurações gerais</span>
        </a>
        <a routerLink="/admin/services" mat-list-item  (click)="onSidenavClose()">
            <span class="navigation-item">Cadastro de serviços</span>   
        </a>
        <a mat-list-item (click)="onLogoutClick()">
          <span class="navigation-item">Logout</span>   
        </a>
      </mat-nav-list>
  </div>