<div fxLayout=column fxLayoutGap="15px">
    <mat-progress-bar *ngIf="isProgressVisible" mode="indeterminate"></mat-progress-bar>
    <div fxLayoutAlign="center center">
        <h2 class="primary-color">Alterar senha</h2>
        <mat-divider></mat-divider>
    </div>
    <div fxLayoutAlign="center center">
        <form fxLayout=column style="width: 500px"fxLayoutGap="15px" [formGroup]="changePasswordForm">
            <mat-form-field appearance="outline">
                <mat-label>senha atual</mat-label>
                <input matInput formControlName="currentPassword" type="password">
                <mat-error *ngIf="hasError('currentPassword')">
                    a senha atual é obrigatória
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>nova senha</mat-label>
                <input matInput formControlName="newPassword" type="password">
                <mat-error *ngIf="hasError('newPassword')">
                    nova senha é obrigatória
                </mat-error>
            </mat-form-field>
            <button class="full-width" [disabled]="!changePasswordForm.valid" mat-raised-button color="primary"
                (click)="onChangePasswordButtonClick()">
                alterar senha</button>
        </form>
    </div>
</div>